#website-name {
  font-family: Palatino, URW Palladio L, serif;
}

.navbar {
  width: 100%;
  background-color: #1392CE;
}

.slide {
  width: 100%;
  height: 400px;
  background-color: black;
}

.card-img-top {
  height: 200px;
}

.carousel-inner {
  height: 400px;
}

.carousel-inner img {
  margin: auto;
}

#search-bar {
  width: 250px;
}

#resource-search-bar {
  justify-content: center;
  align-items: center;
}

#resource-search-bar {
  background-color: #e3f2fd;
}
