#website-name {
  font-family: Palatino, URW Palladio L, serif;
}

#heading {
  width: 100%;
  background-image: linear-gradient(to bottom right, rgba(174,229,255,1), rgba(4,139,202,1));
}

#resource-search-bar {
  width: 100%;
  background-color: #139AAA;
}

.slide {
  width: 100%;
  height: 400px;
  background-color: black;
}

.card-img-top {
  height: 200px;
}

.carousel-inner {
  height: 400px;
}

.carousel-inner img {
  margin: auto;
}

#search-bar {
  height: 80px;
}

#resource-search-bar {
  justify-content: center;
  align-items: center;
}

#resource-search-bar {
  height: 100%;
  background-color: #e3f2fd;
}
